{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block page_title %}Track Your Stocks{% endblock %}</title>

    <link rel="stylesheet" href={% static 'css/material.min.css' %}>
    <script src={% static 'js/material.min.js' %}></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href={% static 'css/finance_styles.css' %}>

    {% block head_styles %}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <a href="{% url "index" %}" class="mdl-button mdl-js-button mdl-button--icon home-button">
                <i class="material-icons">{% block home-icon %}home{% endblock home-icon %}</i>
            </a>

            <div class="mdl-layout__header-row">
                <h5>{% block topbar_title %}Finance Tracker{% endblock topbar_title %}</h5>
            </div>
            {% block no_tabs %}
                <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
                    {% block topbar_tabs %}

                    {% endblock topbar_tabs %}
                </div>
            {% endblock %}
        </header>

        <main class="mdl-color--grey-100 mdl-layout__content">
            <div class="page-content">
                {% block content %}{% endblock content %}
            </div>
        </main>
    </div>
{% endblock %}

{% block footer_scripts %}
{% endblock footer_scripts %}
</body>
</html>