{% extends 'base.html' %}
{% load staticfiles %}

{% block topbar_title %}
    Home
{% endblock topbar_title %}

{% block topbar_search %}{% endblock topbar_search %}

{% block content %}
    <div class="mld-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-color--white search-box">
            <div class="search-container">
                <i class="material-icons search-icon">search</i>
                <input class="mdl-cell--12-col" type="search" id="search" placeholder="Search..."/>
            </div>
        </div>
        <div id="search-results"></div>
    </div>
{% endblock content %}
{% block footer_scripts %}
    <script src='{% static 'client/bundle.js' %}'></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock footer_scripts %}
